In [1]:
# Importar librerias

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# display para mi merge

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

!pip install --upgrade pandas

Requirement already up-to-date: pandas in /opt/anaconda3/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.18.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
df = pd.read_csv('CP_national_en.csv', index_col = 0) # cargar datos, columna Country indice para evitrar uffef
df['Country'] = df.index.values       #Columna nueva con los valores del indice Country
df.index = list(range(len(df)))       #indice nuevo
first_col = df.pop('Country')       # saco la columna indice...
df.insert(0, 'Country', first_col, allow_duplicates = True)      # ...para insertarla a la cabeza

# ya tengo mi dataframe

df_original = df.copy()  # no trabajar con df original, dejar aqui guardado

df.drop(['Notes', 'More'], axis = 1, inplace = True)

# preparacion del dataframe para conseguir estructura deseada 

df = df.melt(id_vars=['Country', 'Indicator'], value_vars=['Latest year','Total', 'Men', 'Women'])
df.drop_duplicates(subset=['Country', 'Indicator', 'variable'], inplace=True)
df = df.pivot(index='Country', columns=['Indicator', 'variable'], values= 'value')
df.sort_values('Indicator', axis = 1, inplace = True)
orden = ['Latest year', 'Total', 'Men', 'Women']
df.reindex(orden, axis = 1, level = 1)
df.drop(['Average hourly labour cost per employee, local currency',
        'Average monthly earnings of employees, local currency'], axis = 1, level = 0, inplace = True) # drop bc local
                                                                                                    #currency
    
df.rename(columns = {"Incidence rate of non-fatal occupational injuries (per 100'000 in reference group)" :
           "Incidence rate of non-fatal occupational injuries (per 100 000 in reference group)"},
          inplace = True, 
          level = 0 
          )
df.rename(columns = {"Incidence rate of occupational fatalities (per 100'000 in reference group)":
           "Incidence rate of occupational fatalities (per 100 000 in reference group)"},
          inplace = True, 
          level = 0 
          )

In [43]:
df.columns.get_level_values(level = 0).unique()

Index(['Average weekly hours actually worked per employed person',
       'Collective bargaining coverage rate (%)',
       'Employment-population ratio (%)',
       'Incidence rate of non-fatal occupational injuries (per 100 000 in reference group)',
       'Incidence rate of occupational fatalities (per 100 000 in reference group)',
       'LU3: Combined rate of unemployment and potential labour force (%)',
       'LU4: Composite rate of labour underutilization (%)',
       'Labour force participation rate (%)',
       'Monthly minimum wage, local currency',
       'Population covered by at least one social protection benefit (%)',
       'Share of agriculture (%)',
       'Share of employed working more than 48 hours per week (%)',
       'Share of industry (%)',
       'Share of informal employment -- Harmonized series (%)',
       'Share of managers, professionals (incl. associates) and technicians (%)',
       'Share of services (%)',
       'Share of youth not in employment, education or training (%)',
       'Trade union density rate (%)', 'Unemployment rate (%)',
       'Unemployment rate, youth (%)'],
      dtype='object', name='Indicator')

In [92]:
df

Indicator                 Average weekly hours actually worked per employed person  \
variable                                                                     Women
Country
Afghanistan                                                             21.1
Albania                                                                 39.0
Algeria                                                                 35.8
American Samoa                                                           NaN
Angola                                                                   NaN
...                                                                      ...
Viet Nam                                                                40.2
Wallis and Futuna Islands                                                NaN
Yemen                                                                   31.6
Zambia                                                                  36.5
Zimbabwe                                                                32.6

Indicator                                          \
variable                  Total   Men Latest year
Country
Afghanistan                38.0  42.6      2017.0
Albania                    41.2  43.0      2019.0
Algeria                    43.7  45.4      2017.0
American Samoa              NaN   NaN         NaN
Angola                      NaN   NaN         NaN
...                         ...   ...         ...
Viet Nam                   41.2  42.2      2019.0
Wallis and Futuna Islands   NaN   NaN         NaN
Yemen                      40.0  40.7      2014.0
Zambia                     40.2  42.5      2018.0
Zimbabwe                   36.6  39.6      2019.0

Indicator                 Collective bargaining coverage rate (%)              \
variable                                                    Women Latest year
Country
Afghanistan                                                   NaN         NaN
Albania                                                       NaN      2013.0
Algeria                                                       NaN         NaN
American Samoa                                                NaN         NaN
Angola                                                        NaN         NaN
...                                                           ...         ...
Viet Nam                                                      NaN         NaN
Wallis and Futuna Islands                                     NaN         NaN
Yemen                                                         NaN         NaN
Zambia                                                        NaN         NaN
Zimbabwe                                                      NaN         NaN

Indicator                           Employment-population ratio (%)        \
variable                  Men Total                           Total Women
Country
Afghanistan               NaN   NaN                            42.0  18.2
Albania                   NaN  58.0                            53.4  46.9
Algeria                   NaN   NaN                            36.9  13.5
American Samoa            NaN   NaN                            47.8   NaN
Angola                    NaN   NaN                            40.0  34.1
...                        ..   ...                             ...   ...
Viet Nam                  NaN   NaN                            68.9  62.5
Wallis and Futuna Islands NaN   NaN                             NaN   NaN
Yemen                     NaN   NaN                            31.4   4.5
Zambia                    NaN   NaN                            29.4  21.4
Zimbabwe                  NaN   NaN                            35.7  28.4

Indicator                  ... Trade union density rate (%)        \
variable                   ...                  Latest year Total
Country                    ...
Afghanistan                ...                          NaN   NaN
Albania                    ...                       2013.0  13.3
Algeria                    ...                          NaN   NaN
American Samoa             ...                          NaN   NaN
Angola                     ...                          NaN   NaN
...                        ...                          ...   ...
Viet Nam                   ...                       2011.0  14.6
Wallis and Futuna Islands  ...                          NaN   NaN
Yemen                      ...                          NaN   NaN
Zambia                     ...                       2014.0  25.9
Zimbabwe                   ...                       2010.0   7.5

Indicator                 Unemployment rate (%)                          \
variable                                  Women Latest year Total   Men
Country
Afghanistan                                14.0      2017.0  11.2  10.4
Albania                                    11.3      2019.0  11.5  11.6
Algeria                                    26.2      2017.0  13.6  10.8
American Samoa                              NaN      2010.0   9.2   NaN
Angola                                      7.7      2011.0   7.4   7.0
...                                         ...         ...   ...   ...
Viet Nam                                    2.0      2019.0   2.0   2.1
Wallis and Futuna Islands                   NaN      2013.0  56.3   NaN
Yemen                                      26.1      2014.0  13.5  12.3
Zambia                                     13.5      2018.0  12.0  11.1
Zimbabwe                                   17.9      2019.0  16.9  16.0

Indicator                 Unemployment rate, youth (%)
variable                                   Latest year Total   Men Women
Country
Afghanistan                                     2017.0  17.6  16.3  21.4
Albania                                         2019.0  27.0  27.8  25.9
Algeria                                         2017.0  39.3  33.1  82.0
American Samoa                                     NaN   NaN   NaN   NaN
Angola                                          2011.0  16.7  16.8  16.6
...                                                ...   ...   ...   ...
Viet Nam                                        2019.0   6.9   6.9   6.9
Wallis and Futuna Islands                          NaN   NaN   NaN   NaN
Yemen                                           2014.0  24.5  23.5  34.6
Zambia                                          2018.0  26.0  24.7  27.6
Zimbabwe                                        2019.0  27.5  25.0  31.4

[209 rows x 80 columns]

In [102]:
df.loc[:,(['Average weekly hours actually worked per employed person', 
    'Population covered by at least one social protection benefit (%)'], ['Men','Women'])]

Indicator                 Average weekly hours actually worked per employed person  \
variable                                                                       Men
Country
Afghanistan                                                             42.6
Albania                                                                 43.0
Algeria                                                                 45.4
American Samoa                                                           NaN
Angola                                                                   NaN
...                                                                      ...
Viet Nam                                                                42.2
Wallis and Futuna Islands                                                NaN
Yemen                                                                   40.7
Zambia                                                                  42.5
Zimbabwe                                                                39.6

Indicator                        \
variable                  Women
Country
Afghanistan                21.1
Albania                    39.0
Algeria                    35.8
American Samoa              NaN
Angola                      NaN
...                         ...
Viet Nam                   40.2
Wallis and Futuna Islands   NaN
Yemen                      31.6
Zambia                     36.5
Zimbabwe                   32.6

Indicator                 Population covered by at least one social protection benefit (%)  \
variable                                                                               Men
Country
Afghanistan                                                              NaN
Albania                                                                  NaN
Algeria                                                                  NaN
American Samoa                                                           NaN
Angola                                                                   NaN
...                                                                      ...
Viet Nam                                                                 NaN
Wallis and Futuna Islands                                                NaN
Yemen                                                                    NaN
Zambia                                                                   NaN
Zimbabwe                                                                 NaN

Indicator
variable                  Women
Country
Afghanistan                 NaN
Albania                     NaN
Algeria                     NaN
American Samoa              NaN
Angola                      NaN
...                         ...
Viet Nam                    NaN
Wallis and Futuna Islands   NaN
Yemen                       NaN
Zambia                      NaN
Zimbabwe                    NaN

[209 rows x 4 columns]

In [93]:
df['Average weekly hours actually worked per employed person'][['Women', 'Men']]

variable                   Women   Men
Country
Afghanistan                 21.1  42.6
Albania                     39.0  43.0
Algeria                     35.8  45.4
American Samoa               NaN   NaN
Angola                       NaN   NaN
...                          ...   ...
Viet Nam                    40.2  42.2
Wallis and Futuna Islands    NaN   NaN
Yemen                       31.6  40.7
Zambia                      36.5  42.5
Zimbabwe                    32.6  39.6

[209 rows x 2 columns]

In [103]:
df

Indicator                 Average weekly hours actually worked per employed person  \
variable                                                                     Women
Country
Afghanistan                                                             21.1
Albania                                                                 39.0
Algeria                                                                 35.8
American Samoa                                                           NaN
Angola                                                                   NaN
...                                                                      ...
Viet Nam                                                                40.2
Wallis and Futuna Islands                                                NaN
Yemen                                                                   31.6
Zambia                                                                  36.5
Zimbabwe                                                                32.6

Indicator                                          \
variable                  Total   Men Latest year
Country
Afghanistan                38.0  42.6      2017.0
Albania                    41.2  43.0      2019.0
Algeria                    43.7  45.4      2017.0
American Samoa              NaN   NaN         NaN
Angola                      NaN   NaN         NaN
...                         ...   ...         ...
Viet Nam                   41.2  42.2      2019.0
Wallis and Futuna Islands   NaN   NaN         NaN
Yemen                      40.0  40.7      2014.0
Zambia                     40.2  42.5      2018.0
Zimbabwe                   36.6  39.6      2019.0

Indicator                 Collective bargaining coverage rate (%)              \
variable                                                    Women Latest year
Country
Afghanistan                                                   NaN         NaN
Albania                                                       NaN      2013.0
Algeria                                                       NaN         NaN
American Samoa                                                NaN         NaN
Angola                                                        NaN         NaN
...                                                           ...         ...
Viet Nam                                                      NaN         NaN
Wallis and Futuna Islands                                     NaN         NaN
Yemen                                                         NaN         NaN
Zambia                                                        NaN         NaN
Zimbabwe                                                      NaN         NaN

Indicator                           Employment-population ratio (%)        \
variable                  Men Total                           Total Women
Country
Afghanistan               NaN   NaN                            42.0  18.2
Albania                   NaN  58.0                            53.4  46.9
Algeria                   NaN   NaN                            36.9  13.5
American Samoa            NaN   NaN                            47.8   NaN
Angola                    NaN   NaN                            40.0  34.1
...                        ..   ...                             ...   ...
Viet Nam                  NaN   NaN                            68.9  62.5
Wallis and Futuna Islands NaN   NaN                             NaN   NaN
Yemen                     NaN   NaN                            31.4   4.5
Zambia                    NaN   NaN                            29.4  21.4
Zimbabwe                  NaN   NaN                            35.7  28.4

Indicator                  ... Trade union density rate (%)        \
variable                   ...                  Latest year Total
Country                    ...
Afghanistan                ...                          NaN   NaN
Albania                    ...                       2013.0  13.3
Algeria                    ...                          NaN   NaN
American Samoa             ...                          NaN   NaN
Angola                     ...                          NaN   NaN
...                        ...                          ...   ...
Viet Nam                   ...                       2011.0  14.6
Wallis and Futuna Islands  ...                          NaN   NaN
Yemen                      ...                          NaN   NaN
Zambia                     ...                       2014.0  25.9
Zimbabwe                   ...                       2010.0   7.5

Indicator                 Unemployment rate (%)                          \
variable                                  Women Latest year Total   Men
Country
Afghanistan                                14.0      2017.0  11.2  10.4
Albania                                    11.3      2019.0  11.5  11.6
Algeria                                    26.2      2017.0  13.6  10.8
American Samoa                              NaN      2010.0   9.2   NaN
Angola                                      7.7      2011.0   7.4   7.0
...                                         ...         ...   ...   ...
Viet Nam                                    2.0      2019.0   2.0   2.1
Wallis and Futuna Islands                   NaN      2013.0  56.3   NaN
Yemen                                      26.1      2014.0  13.5  12.3
Zambia                                     13.5      2018.0  12.0  11.1
Zimbabwe                                   17.9      2019.0  16.9  16.0

Indicator                 Unemployment rate, youth (%)
variable                                   Latest year Total   Men Women
Country
Afghanistan                                     2017.0  17.6  16.3  21.4
Albania                                         2019.0  27.0  27.8  25.9
Algeria                                         2017.0  39.3  33.1  82.0
American Samoa                                     NaN   NaN   NaN   NaN
Angola                                          2011.0  16.7  16.8  16.6
...                                                ...   ...   ...   ...
Viet Nam                                        2019.0   6.9   6.9   6.9
Wallis and Futuna Islands                          NaN   NaN   NaN   NaN
Yemen                                           2014.0  24.5  23.5  34.6
Zambia                                          2018.0  26.0  24.7  27.6
Zimbabwe                                        2019.0  27.5  25.0  31.4

[209 rows x 80 columns]

In [104]:
df['id'] = range(len(df))

In [105]:
first_col = df.pop('id')       # saco la columna indice...
df.insert(0, 'id', first_col)

In [106]:
df

Indicator                   id  \
variable
Country
Afghanistan                  0
Albania                      1
Algeria                      2
American Samoa               3
Angola                       4
...                        ...
Viet Nam                   204
Wallis and Futuna Islands  205
Yemen                      206
Zambia                     207
Zimbabwe                   208

Indicator                 Average weekly hours actually worked per employed person  \
variable                                                                     Women
Country
Afghanistan                                                             21.1
Albania                                                                 39.0
Algeria                                                                 35.8
American Samoa                                                           NaN
Angola                                                                   NaN
...                                                                      ...
Viet Nam                                                                40.2
Wallis and Futuna Islands                                                NaN
Yemen                                                                   31.6
Zambia                                                                  36.5
Zimbabwe                                                                32.6

Indicator                                          \
variable                  Total   Men Latest year
Country
Afghanistan                38.0  42.6      2017.0
Albania                    41.2  43.0      2019.0
Algeria                    43.7  45.4      2017.0
American Samoa              NaN   NaN         NaN
Angola                      NaN   NaN         NaN
...                         ...   ...         ...
Viet Nam                   41.2  42.2      2019.0
Wallis and Futuna Islands   NaN   NaN         NaN
Yemen                      40.0  40.7      2014.0
Zambia                     40.2  42.5      2018.0
Zimbabwe                   36.6  39.6      2019.0

Indicator                 Collective bargaining coverage rate (%)              \
variable                                                    Women Latest year
Country
Afghanistan                                                   NaN         NaN
Albania                                                       NaN      2013.0
Algeria                                                       NaN         NaN
American Samoa                                                NaN         NaN
Angola                                                        NaN         NaN
...                                                           ...         ...
Viet Nam                                                      NaN         NaN
Wallis and Futuna Islands                                     NaN         NaN
Yemen                                                         NaN         NaN
Zambia                                                        NaN         NaN
Zimbabwe                                                      NaN         NaN

Indicator                           Employment-population ratio (%)  ...  \
variable                  Men Total                           Total  ...
Country                                                              ...
Afghanistan               NaN   NaN                            42.0  ...
Albania                   NaN  58.0                            53.4  ...
Algeria                   NaN   NaN                            36.9  ...
American Samoa            NaN   NaN                            47.8  ...
Angola                    NaN   NaN                            40.0  ...
...                        ..   ...                             ...  ...
Viet Nam                  NaN   NaN                            68.9  ...
Wallis and Futuna Islands NaN   NaN                             NaN  ...
Yemen                     NaN   NaN                            31.4  ...
Zambia                    NaN   NaN                            29.4  ...
Zimbabwe                  NaN   NaN                            35.7  ...

Indicator                 Trade union density rate (%)        \
variable                                   Latest year Total
Country
Afghanistan                                        NaN   NaN
Albania                                         2013.0  13.3
Algeria                                            NaN   NaN
American Samoa                                     NaN   NaN
Angola                                             NaN   NaN
...                                                ...   ...
Viet Nam                                        2011.0  14.6
Wallis and Futuna Islands                          NaN   NaN
Yemen                                              NaN   NaN
Zambia                                          2014.0  25.9
Zimbabwe                                        2010.0   7.5

Indicator                 Unemployment rate (%)                          \
variable                                  Women Latest year Total   Men
Country
Afghanistan                                14.0      2017.0  11.2  10.4
Albania                                    11.3      2019.0  11.5  11.6
Algeria                                    26.2      2017.0  13.6  10.8
American Samoa                              NaN      2010.0   9.2   NaN
Angola                                      7.7      2011.0   7.4   7.0
...                                         ...         ...   ...   ...
Viet Nam                                    2.0      2019.0   2.0   2.1
Wallis and Futuna Islands                   NaN      2013.0  56.3   NaN
Yemen                                      26.1      2014.0  13.5  12.3
Zambia                                     13.5      2018.0  12.0  11.1
Zimbabwe                                   17.9      2019.0  16.9  16.0

Indicator                 Unemployment rate, youth (%)
variable                                   Latest year Total   Men Women
Country
Afghanistan                                     2017.0  17.6  16.3  21.4
Albania                                         2019.0  27.0  27.8  25.9
Algeria                                         2017.0  39.3  33.1  82.0
American Samoa                                     NaN   NaN   NaN   NaN
Angola                                          2011.0  16.7  16.8  16.6
...                                                ...   ...   ...   ...
Viet Nam                                        2019.0   6.9   6.9   6.9
Wallis and Futuna Islands                          NaN   NaN   NaN   NaN
Yemen                                           2014.0  24.5  23.5  34.6
Zambia                                          2018.0  26.0  24.7  27.6
Zimbabwe                                        2019.0  27.5  25.0  31.4

[209 rows x 81 columns]

In [109]:
df['id'].to_csv('paises_id')